* {
  margin: 0;
  padding: 0;
}

/* navbar */

.navbar-nav {
  margin-left: 40px;
}
.nav-item .nav-link {
  font-size: 16px;
  cursor: pointer;
}
.company-Name {
  color: #245059;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #949292;
}
.iconset i {
  color: #245059;
}
/* homepage */

.home {
  background-color: #245059;
  width: 100%;
  height: 90vh;
  color: white;
}
.sub-homehead {
  display: flex;
  gap: 10%;
}
.homeimage img {
  width: 85%;
  padding-top: 70px;
  border-radius: 12px;
}
.homepage {
  padding-top: 80px;
  padding-left: 150px;
}
.home-head h1 {
  font-size: 60px;
  font-weight: 900;
}
.sub-homehead {
  padding-top: 15px;
  font-size: 16px;
}
.sub-homehead p {
  margin: 0;
  padding: 0;
}
.input-box {
  padding-top: 30px;
}
.input-box input {
  width: 55%;
  padding: 8px;
  border-radius: 12px;
  border: none;
}
/* offers */
.offer {
  padding-top: 100px;
  display: flex;
}
.products h1 {
  font-size: 30px;
  font-weight: 800;
}
.products1 img {
  width: 85%;
  height: 45vh;
}
.products1 p {
  margin: 0;
  padding: 0;
}

.products2 img {
  width: 85%;
  height: 45vh;
}
.products2 p {
  margin: 0;
  padding: 0;
}
.products3 img {
  width: 85%;
  height: 45vh;
}
.products3 p {
  margin: 0;
  padding: 0;
}
.product-price {
  color: #949292;
}
.button-set {
  padding-top: 15px;
}
.button-set i {
  margin: 7px;
  font-size: 15px;
}
.button-btn {
  display: inline-block;
  padding: 7px 30px;
  background-color: #245059;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
/* about us */
.About-us {
  padding-top: 130px;
}
.aboutus-head {
  text-align: center;
}
.about-sub {
  color: #949292;
}
.about-content {
  padding-top: 40px;
}
.aboutelement {
  text-align: center;
}
.aboutelement i {
  background-color: #245059;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
}
.aboutelement h6 {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 800;
}
.aboutus-head h4 {
  font-size: 23px;
  font-weight: 700;
}
.aboutus-head p {
  font-size: 14px;
}
.aboutelement p {
  font-size: 14px;
}
/* testmonial */
.testmonial {
  padding-top: 140px;
  width: 80%;
  margin: auto;
}
.testmonial-head h4 {
  font-size: 23px;
  font-weight: 700;
}

.testmonial-row {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 3%;
  padding-top: 30px;
}
.testmonial-col {
  background-color: #245059;
  padding: 25px;
  color: #fff;
  border-radius: 10px;
}
.testmonial-user {
  display: flex;
  justify-content: space-between;
}
.user-rating {
  display: flex;
  gap: 10%;
}
.testmonial-col p {
  font-size: 14px;
}
/* categories */
.category-head {
  text-align: center;
  width: 80%;
  margin: auto;
  padding-top: 140px;
}
.category-head h4 {
  font-size: 23px;
  font-weight: 700;
}
.category-head p {
  font-size: 14px;
  color: #949292;
}
/* footer */

.footer {
  padding-top: 140px;
  width: 100%;
}
.footer-row {
  display: flex;
  justify-content: space-between;
  background: #245059;
  /* margin: auto; */
  padding: 20px;
  color: #fff;
  height: 50vh;
}
.footer-conatct {
  display: flex;
  gap: 30px;
}
.footer-col {
  margin: auto;
}
.social-media i {
  padding: 10px;
  margin-left: 10px;
}
